{% extends 'base.html.twig' %}

{% block title -%}
    {{ '$ whoami | ' ~ parent() }}
{%- endblock title %}

{% block body %}
    <section class="section">
        <h1 class="h1-like">
            Salut,
            <br>
            je suis <strong>Florian "Ori" Neveu</strong>
            <br>
            développeur Symfony.
        </h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus culpa cum dignissimos, distinctio
            eveniet fugit, illum iste iure nam natus qui quo sint unde. Aliquid aut commodi doloribus laboriosam
            perspiciatis.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus culpa cum dignissimos, distinctio
            eveniet fugit, illum iste iure nam natus qui quo sint unde. Aliquid aut commodi doloribus laboriosam
            perspiciatis.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus culpa cum dignissimos, distinctio
            eveniet fugit, illum iste iure nam natus qui quo sint unde. Aliquid aut commodi doloribus laboriosam
            perspiciatis.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus culpa cum dignissimos, distinctio
            eveniet fugit, illum iste iure nam natus qui quo sint unde. Aliquid aut commodi doloribus laboriosam
            perspiciatis.
        </p>

        <p>
            <a href="{{ path('app_home') }}">Retour sur la home</a>
        </p>
    </section>
{% endblock %}
