{% extends 'base.html.twig' %}

{% block title -%}
    {{ parent() ~ ' | Développeur PHP - Symfony' }}
{%- endblock title %}

{% block body %}
    <section class="section home-header">
        <div>
            <h1 class="h1-like">
                <span class="monospace">Hello world,</span>
                <strong>Florian <span class="cursive">"Ori"</span> Neveu</strong>,
                <br>
                et je fais des trucs sur le Web.
            </h1>

            <p>
                Je suis un développeur PHP spécialisé dans Symfony. J'occupe actuellement le poste de Développeur
                back-end senior chez <a href="https://www.adveris.fr">Adveris</a>.
            </p>

            <a href="#about" class="btn js-more">
                En savoir plus
            </a>
        </div>
    </section>

    <section class="section" id="about">
        <h2 class="h2-like">$ whoami</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid animi at consequuntur dolore earum
            eligendi et, ex harum inventore iusto laborum laudantium magni, pariatur quae reprehenderit unde voluptate
            voluptatem!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deserunt eligendi et excepturi odio repellendus
            tenetur ullam! Adipisci at consequuntur dolor doloremque dolores est facilis minus porro quasi, recusandae
            sequi.
        </p>

        <a href="{{ path('app_about') }}" class="btn">
            En savoir plus
        </a>
    </section>

    <section class="section">
        <h2 class="h2-like">Projets</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam delectus deleniti dignissimos ea fugiat fugit impedit ipsum iusto, laudantium nihil quo quos, repellendus rerum tempora ut voluptate voluptatem voluptatibus?
        </p>

        <article class="project-card">
            <h3>Ow-API-PHP</h3>
            <p>A light PHP wrapper for Ow-API, an unofficial API for <a href="#">Overwatch</a>.</p>
            <ul>
                <li>PHP</li>
                <li>Composer</li>
                <li>API</li>
                <li>Overwatch</li>
            </ul>
        </article>

        <article class="project-card">
            <h3>dotfiles</h3>
            <p>Some experiments about dotfiles in order to be more efficient when configuring new environments.</p>
            <ul>
                <li>Shell</li>
                <li>zsh</li>
            </ul>
        </article>
    </section>

    <section class="section">
        <h2 class="h2-like">Blog</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque aut autem dicta eius ex facilis, hic iure
            iusto laudantium magni necessitatibus nemo non officia officiis porro possimus quaerat, recusandae.
        </p>

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Titre</th>
                    <th>Catégorie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>29.04.2022</td>
                    <td>Joyeux anniversaire moi</td>
                    <td>Développement</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="section">
        <h2 class="h2-like">On reste en contact ?</h2>
        <p>
            Même si je ne suis pas à l'écoute du marché pour le moment, je reste joignable. N'hésitez donc pas à
            m'écrire si vous avez des questions ou si vous souhaitez juste me dire bonjour, je ferai de mon mieux pour
            vous répondre au plus vite ! :)
        </p>

        <div class="text-center">
            <a href="#" class="btn js-mailto">
                Faire coucou !
            </a>
        </div>
    </section>
{% endblock %}
