footer.footer {
    padding: 2.5rem 2.5rem .5rem;

    @include mono;
    font-size: 1.2rem;
    text-align: center;

    a {
        color: $color1;
        transition: color .2s ease-in-out;

        &:hover, &:focus {
            color: $color2;
        }
    }

    p a {
        @include hoverLink;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.5rem;
        list-style: none;
        margin-top: 2rem;

        li {
            a {
                padding: .5rem 1rem;

                font-size: 2rem;
                line-height: 2rem;
            }
        }
    }

    .signature a {
        .heart {
            display: inline-block;
        }

        &:hover, &:focus {
            .heart {
                color: red;
                animation: animateHeart 1.2s infinite;
            }
        }
    }

    .indicator {
        background-color: #1bbe8d;
        border-radius: 50%;
        display: inline-block;
        height: 9px;
        margin-right: 8px;
        position: relative;
        width: 9px;

        &::before {
            animation: ping-deb06942 2s cubic-bezier(0,0,.3,1) infinite;
            background-color: #1bbe8d;
            border-radius: 50%;
            content: "";
            display: block;
            height: 100%;
            opacity: .5;
            position: absolute;
            width: 100%;
        }
    }
}

@keyframes ping-deb06942 {
    80%,
    to {
        opacity:0;
        transform:scale(3)
    }
}

@keyframes animateHeart {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.2);
    }
    10% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.4);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
