.btn {
    padding: 1.25rem 2.25rem;
    border: 1px solid $color1;
    color: $color1;
    text-decoration: none;
    margin-top: 1.25rem;
    display: inline-block;
    position: relative;

    transition: all .2s ease-in-out;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 100%;
        content: '';
        background: $color2;
        width: 0;
        z-index: -1;

        transition: all .2s ease-in-out;
    }

    &:hover, &:focus {
        border-color: $color2;

        color: $color3;

        &:before {
            width: 100%;
        }
    }
}
