@mixin cursive() {
    font-family: $handsome;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}

@mixin mono() {
    font-family: $pt-mono;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}

@mixin default() {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -.02rem;
}

@mixin defaultB() {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -.02rem;
}

@mixin hoverLink() {
    &:not(.btn, .ico) {
        display: inline-block;
        position: relative;

        &:after {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            position: relative;
            bottom: .37rem;
            transition: all .2s ease-in-out;
            background: $color2;
        }

        &:hover, &:focus {
            &:after {
                width: 100%;
            }
        }
    }
}