<div class="io-sidebar">
    <header>
        <a href="{{ path('admin_dashboard_index') }}">
            <strong>Io</strong> by fnev.eu
        </a>
    </header>

    <div class="io-sidebar-content">

    </div>
</div>
