.scrollToTop {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;

    background: #101010;
    border-radius: 3px;
    box-shadow: 2px 0 4px -1px rgba(0,0,0,0.2), 4px 0 5px 0 rgba(0,0,0,0.14), 1px 0 10px 0 rgba(0,0,0,0.12);
    opacity: 0;
    rotate: 90deg;
    transition: opacity .6s ease-in-out, box-shadow .3s ease-in-out, bottom .3s ease-in-out;

    @include defaultB;
    color: $color1;
    font-size: 2rem;
    line-height: 4.5rem;
    height: 4.5rem;
    width: 4.5rem;
    text-align: center;

    &:hover {
        box-shadow: 2px 0 4px -1px rgba(228, 98, 23,0.2), 4px 0 5px 0 rgba(228, 98, 23,0.14), 1px 0 10px 0 rgba(228, 98, 23,0.12);
        bottom: 2.2rem;
    }

    &:active {
        box-shadow: 2px 0 4px -1px rgba(228, 98, 23,.2),4px 0 5px 0 rgba(228, 98, 23,.14),1px 0 10px 0 rgba(228, 98, 23,.12) !important;
        bottom: 1.8rem !important;
    }
}