.navbar {
    position: fixed;
    top: 0;
    z-index: 10;

    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 250px;
    padding: 0 2rem 0 2.5rem;
    width: calc(100% - 250px);

    background-color: transparent;
    transition: all 0.3s ease;

    > div {
        display: flex;

        + div {
            text-align: right;
        }
    }
}

.page-scrolled {
    .navbar {
        background-color: #FFFFFF;
        box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11);
    }
}

.menu-collapsed {
    .navbar {
        margin-left: 60px;
        width: calc(100% - 60px);
    }
}
