@import 'normalize.css';
@import '@fortawesome/fontawesome-free/scss/brands';

@import 'utils/variables';
@import 'utils/mixins';

@import 'components/button';
@import 'components/footer';
@import 'components/preloader';
@import 'components/project';
@import 'components/scrollToTop';
@import 'components/section';
@import 'components/typo';

@import 'pages/home';

html {
    font-size: 62.5%;
    scrollbar-color: $color1 transparent;
    scrollbar-width: thin;
}

body {
    background-color: $color4;
    color: $color3;
    font-size: 1.8rem;
    line-height: 2.5rem;
    @include default;
}

main {
    transition: all .5s ease-in-out;
}
