{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="h5 card-title">Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci animi aspernatur atque blanditiis delectus eius facilis ipsam magni minus nisi optio quidem, quis, quo repellat rerum temporibus totam voluptates.</p>
                    <a href="#" class="btn btn-primary btn-sm">A link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="h5 card-title">Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ex molestias tenetur ut voluptatibus? Aliquam doloribus eveniet ipsum obcaecati odit. Animi delectus ea explicabo maiores molestias provident quaerat quia sequi.</p>
                    <a href="#" class="btn btn-primary btn-sm">A link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="h5 card-title">Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias amet eligendi exercitationem fuga natus neque tenetur vel. Consequuntur dolor enim eveniet explicabo harum ipsum iste iusto, magnam nisi voluptatibus?</p>
                    <a href="#" class="btn btn-primary btn-sm">A link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="h5 card-title">Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam architecto at, consequuntur dolores enim esse, modi nihil odit perferendis placeat possimus praesentium quam quia reiciendis sequi temporibus voluptate voluptatibus!</p>
                    <a href="#" class="btn btn-primary btn-sm">A link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="h5 card-title">Title</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at dolorum ducimus est libero natus sed sunt, veniam. Corporis dolore eos facilis illum, optio perspiciatis quia recusandae similique totam unde!</p>
                    <a href="#" class="btn btn-primary btn-sm">A link</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}