{% extends 'admin/base.html.twig' %}

{% block title -%}
    Dashboard - {{ parent() }}
{%- endblock %}

{% block content %}
<div>
    <h1>Dashboard</h1>
    <p>Welcome to the admin dashboard, {{ app.user.firstname ?: app.user.email }}.</p>
</div>
{% endblock %}
