header.header {
    left: 0;
    position: absolute;
    right: 0;
    z-index: 10;

    height: 37px;
    padding: 1rem 1.5rem;

    transition: background .3s ease-in-out, box-shadow .3s ease-in-out, top .3s ease-in-out;

    text-align: right;

    &.scrolling {
        position: fixed;
        top: -57px;

        &.scrollingTop {
            top: 0;

            background: rgba(12,12,12,0.9);
            box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12);
        }
    }

    .nav-toggler {
        position: relative;
        z-index: 20;

        display: inline-block;
        width: 2.7rem;

        &:before, &:after, span {
            background: $color1;
            content: '';
            display: block;
            height: 3px;
            border-radius: 3px;
            margin: 7px 0;
            transition: .5s;
        }

        &:after {
            margin-bottom: 0;
        }

        &.open {
            &:before {
                transform: translateY(8px) rotate(135deg);
            }

            &:after {
                transform: translateY(-12px) rotate(-135deg);
            }

            span {
                transform: scale(0);
            }
        }
    }

    nav {
        bottom: 0;
        position: fixed;
        right: -100vw;
        top: 0;
        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: center;
        width: min(75vw, 400px);

        background: #101010;
        box-shadow: none;
        transition: right .3s ease-in-out, box-shadow .3s ease-in-out;

        &.open {
            right: 0;

            box-shadow: 2px 0 4px -1px rgba(0,0,0,0.2);
        }

        ul {
            padding: 0;

            list-style: none;
        }
    }
}